nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none
}

nav li a {
    text-decoration: none;
}

header {
    background-color: #008000;
    text-align: center;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* CSS Grid */
.wrapper {
    display: grid;
}

.top-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.top-container h2 {
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.article-section {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;

}

.article-section img {
    border: none;
    border-radius: 10%;
    width: 100%;
    height: auto;
}

footer {
    background-color: #111;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.top-container img{
    width: 100%;
    height: 400px;
}
.article1{
    box-shadow: -1px -1px 6px #888888;
    border-width: thin;
    padding: 10px;
    margin: 0;
    background-color:0 ;
    text-align: justify;
    border-bottom-right-radius: 10px;
}

.article2 {
    box-shadow: -1px -1px 6px #888888;
    border-width: thin;
    padding: 10px;
    margin: 0;
    text-align: justify;
    border-bottom-left-radius: 10px;
}

body {
    background-color: lightgreen;
}

footer>nav {
    float: right;

}

.article-section h2 {
    text-align: center;
}

.article-section p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.article1 h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.article2 h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.article-section1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.article-section1 .image{
    padding-top: 200px;
    padding-left: 50px;
    margin-left: 10px;
    margin-bottom: 100px;
    padding-right: 15px;
}

.article-section1 .article3{
    margin-right: 200px;
    text-align: justify;
}

.article3 h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    
}

.article3 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#portfolio {
    display: grid;
    margin:left;
    grid-template-columns: 16.7% 16.7% 16.7%;
    grid-template-rows: 16.7% 16.7% 16.7%;
    grid-gap: 40px;
}